.title {
  margin: 50px 0 0 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  .bottom__btn {
    margin: 0 150px 0 0;
  }
}
.cart {
  margin: 50px 0 0 0;
  &Con {
    height: 100vh;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.cartItem {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child {
    margin: 0;
  }
  &__img {
    width: 130px;
    height: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__name {
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: #FFFFFF;
    span {
      font-size: 26px;
      margin: 0 0 0 5px;
    }
  }
  &__price {
    font-family: Arial;
    font-size: 22px;
    line-height: 22px;
    color: #D58C51;
    span {
      font-size: 26px;
      margin: 0 0 0 5px;
    }
  }
  &__btn {
    cursor: pointer;
    background-color: transparent;
  }
}
.bottom {
  margin: auto 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__sum {
    font-family: Arial;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    span {
      font-family: Arial;
      font-size: 18px;
      line-height: 22px;
      color: #D58C51;
    }
  }
  &__btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    color: #131313;
    background: #D58C51;
    width: 200px;
    height: 50px;
  }
}