.title {
  margin: 50px 0 0 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    margin: 20px 0 0 0;
  }
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
  }
  .bottom__btn {
    margin: 0 150px 0 0;
    @media (max-width: 767px) {
      margin: 0 0 10px 0;
      font-size: 12px;
      height: 40px;
    }
  }
}
.cart {
  margin: 50px 0 0 0;
  //height: calc(100vh - 150px);
  //overflow: hidden;
  //overflow-y: scroll;
  padding: 0 20px 0 0;
  &::-webkit-scrollbar {
    width: 5px;
    height: 100%;
    background-color: #161516;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #D58C51;
  }

  &Con {
    height: 100vh;
  }
}
.wrap {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.cartItem {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &:last-child {
    margin: 40px 0 40px 0;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
  &:first-child {
    margin: 0;
  }
  &__img {
    width: 130px;
    height: 130px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__name {
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
    line-height: 21px;
    color: #FFFFFF;
    @media (max-width: 767px) {
      margin: 10px 0 0 0;
    }
    span {
      font-size: 26px;
      margin: 0 0 0 5px;
    }
  }
  &__price {
    font-family: Arial;
    font-size: 22px;
    line-height: 22px;
    color: #D58C51;
    @media (max-width: 767px) {
      margin: 10px 0 0 0;
    }
    span {
      font-size: 26px;
      margin: 0 0 0 5px;
    }
  }
  &__count {
    font-family: Arial;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    @media (max-width: 767px) {
      margin: 10px 0 0 0;
    }
    button {
      background-color: transparent;
      font-size: 30px;
      color: #ffffff;
      margin: 0 5px;
    }
    span {
      font-size: 26px;
      margin: 0 0 0 5px;
      input {
        background-color: transparent;
        width: 30px;
        color: #ffffff;
        text-align: center;
      }
    }
  }
  &__btn {
    cursor: pointer;
    background-color: transparent;
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
.bottom {
  margin: auto 0 0 0;
  padding: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__sum {
    font-family: Arial;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 767px) {
      font-size: 16px;
    }
    span {
      font-family: Arial;
      font-size: 18px;
      line-height: 22px;
      color: #D58C51;
    }
  }
  &__btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    color: #131313;
    background: #D58C51;
    width: 200px;
    height: 50px;
  }
}