.catalog {

}
.header {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  &__title {
    font-family: Arial;
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__info {
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__infoBody {

  }
  &__infoGoods {}
  &__infoSum {
    margin: 5px 0 0 0;
  }
  &__infoBtn {
    margin: 0 0 0 20px;
    cursor: pointer;
    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
      margin: 0 0 0 5px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    svg {
      color: #D58C51;
    }
  }
}

.catalogBody {
  margin: 100px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  @media (max-width: 992px) {
    justify-content: space-between;
    margin: 40px 0 0 0;
  }
  &__item {
    flex: 0 0 22.5%;
    border: 1px solid #D58C51;
    @media (max-width: 992px) {
      flex: 0 0 45%;
    }
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
    &Img {
      width: inherit;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  &__itemName {
    border-top: 1px solid #D58C51;
    font-family: Arial;
    font-weight: 500;
    font-size: 26px;
    color: #D58C51;
    text-align: center;
    padding: 15px 0;
  }
  &__itemPrice {
    border-top: 1px solid #D58C51;
    font-family: Arial;
    font-weight: 500;
    font-size: 24px;
    color: #D58C51;
    text-align: center;
    padding: 10px 0;
  }
  &__itemBtn {
    cursor: pointer;
    width: 100%;
    background-color: #D58C51;
    padding: 10px 0;
    text-align: center;
    font-family: Arial;
    font-weight: 500;
    font-size: 22px;
    color: #161516;
  }
}
.logout__btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 22px;
  color: #131313;
  background: #D58C51;
  width: 200px;
  height: 50px;
  @media (max-width: 767px) {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }
}